*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.app-main-div{
    background-color: #98a5b7;
    color: white;
    max-width: 1200px;
    margin: 20px auto;
    border-radius: 20px;
}