* {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.link {
    text-decoration: none;
}

.flixId-class {
    text-decoration: none;
    color: white;
}